.App {
  padding: 1em;
}

th {
  background: #a00;
  color: white;
}

tr:nth-child(2n) td {
  background-color: #eee;
}

td,th {
  min-width: 5em;
  padding: 0 0.5em;
  line-height: 1.75em;
}

table {
  margin: 1em 0;
  width: 100%;
}

td input {
  width: 5em;
  font-size: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

button[type="submit"] {
  margin: 1em 0;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "table chart"
    "table development";
}

@media(max-width: 768px) {
  .grid {
    display: block;
  }
}

.development {
  grid-area: development;
  padding: 1em;
}

.table {
  grid-area: table;
  overflow-y: auto;
  max-height: 400px;
}

.chart {
  grid-area: chart;
}